/* 设置整个页面的布局为 flexbox，使其支持左右布局 */
body {
    display: flex;
    flex-direction: column; /* 使页面垂直方向上的元素布局 */
    margin: 0; /* 去掉默认的边距 */
    height: 100vh; /* 设置高度为视口高度 */
}

/* 标题栏的样式 */
#header {
    background-color: #70B2E2; /* 背景颜色 */
    font-size: 14px; /* 字体大小 */
    color: #fff; /* 字体颜色 */
    padding: 0px; /* 内边距 */
    text-align: center; /* 居中对齐文本 */
    position: fixed; /* 固定位置 */
    top: 0; /* 到页面顶部 */
    left: 0; /* 到页面左侧 */
    width: 100%; /* 宽度为100% */
}

#container {
    padding-top: 76px;  /* 防止内容被标题栏遮挡，设置一个足够的顶部填充 */
    display: flex;
    height: calc(100vh - 76px); /* 调整高度以适应标题栏 */
}

/* 设置导航栏的样式 */
#navbar {
    width: 160px; /* 设置导航栏的宽度 */
    height: 100%;
    min-width: 160px; /* 最小宽度 */
    font-size: 16px; /* 字体大小 */
    background-color: #ADDFBA; /* 背景颜色 */
    padding: 0px; /* 内边距 */
    border-top: 1px solid #ddd; /* 顶部边框 */
    position: fixed; /* 固定位置 */
    top: 76px; /* 到页面顶部 */
    left: 0; /* 到页面左侧 */
}
#navbar0 {
    width: 160px; /* 设置导航栏的宽度 */
    height: 100%;
    min-width: 160px; /* 最小宽度 */
    font-size: 16px; /* 字体大小 */
    padding: 0px; /* 内边距 */
    border-top: 1px solid #ddd; /* 顶部边框 */
    top: 76px; /* 到页面顶部 */
}
/* 设置导航栏链接的样式 */
#navbar a {
    display: block; /* 使每个链接占据一整行 */
    padding: 20px 40px; /* 内边距 */
    text-decoration: none; /* 去掉下划线 */
    color: #333; /* 字体颜色 */
}

/* 设置导航栏链接的悬停效果 */
#navbar a:hover {
    background-color: #D6EBB3; /* 悬停时的背景颜色 */
}

/* 设置激活的导航栏链接的效果 */
#navbar a.active {
    background-color: #7AD295;
    color: white;
}

/* 设置内容区域的样式 */
#content {
    flex: 1; /* 使内容区域占据剩余的空间 */
    padding: 20px; /* 内边距 */
    background-color: #fff; /* 背景颜色 */
}

/* 隐藏所有页面内容 */
.page {
    display: none; /* 默认隐藏页面 */
}

/* 显示当前激活的页面 */
.active {
    display: block; /* 使当前激活的页面可见 */
}

#navbar .event {
    background-color: #bbc3f1; /* 背景颜色 */
}
#navbar .event:hover {
    background-color: #bbd9f1; /* 背景颜色 */
}
#navbar .event.active {
    background-color: #92a1f7; /* 背景颜色 */
    color: white;
}

/* 刷新按钮格式 */
#navbar #update {
    background-color: #fdda4f;
}
#navbar #update:hover {
    background-color: #fce27c;
}

/* 通用表格格式 */
table {
    border-collapse: collapse; /* 合并边框 */
    /* width: 100%; */
    max-width: 600px;
}
th, td {
    border: 0px solid #474747; /* 边框颜色 */
    padding: 10px; /* 内边距 */
    text-align: center; /* 文本居中 */
    white-space: nowrap; /* 防止换行 */
}
tr:nth-child(odd) {
    background-color: #E4EEC9; /* 每隔行背景颜色 */
}
tr:nth-child(even) {
    background-color: #d4ebf9; /* 每隔行背景颜色 */
}
.noempty td:empty {
    visibility: hidden;
}
/* 专属表格格式 */
.ticketTable tbody td:first-child {
    /* background-color: #ACD8A7; */
    background-color: #E4EEC9; /* 第一列背景颜色 */
    font-weight: bold;
    width: 10%;
}
.ticketTable tbody tr:first-child {
    background-color: #E4EEC9; /* 第一行背景颜色 */
    font-weight: bold;
}
.ticketTable tr:nth-child(odd) {
    background-color: #a8dfff; /* 每隔行背景颜色 */
}
.ticketTable tr:hover {
    background-color: #6bc1f3; /* 鼠标悬停行的背景颜色 */
}

.ticketTable2 tbody td:first-child {
    /* background-color: #ACD8A7; */
    background-color: #E4EEC9; /* 第一列背景颜色 */
    font-weight: bold;
    width: 10%;
}
.ticketTable2 tbody td:nth-child(2) {
    font-weight: bold;
    width: 10%;
}
.ticketTable2 tbody tr:first-child {
    background-color: #E4EEC9; /* 第一行背景颜色 */
    font-weight: bold;
}
.ticketTable2 tr:nth-child(odd) {
    background-color: #a8dfff;
}
/* .ticketTable2 tr:nth-child(3n+2) {
    background-color: #ebf2f7;
} */
.ticketTable2 tr:nth-child(even) {
    background-color: #d4ebf9;
}
.ticketTable2 tr:hover {
    background-color: #6bc1f3; /* 鼠标悬停行的背景颜色 */
}

.ticketTable0 tbody td:nth-child(1) {
    font-weight: bold;
}
.ticketTable0 tbody tr:first-child {
    background-color: #E4EEC9; /* 第一行背景颜色 */
    font-weight: bold;
}
.ticketTable0 tr:nth-child(odd) {
    background-color: #a8dfff;
}
.ticketTable0 tr:nth-child(even) {
    background-color: #d4ebf9;
}
.ticketTable0 tr:hover {
    background-color: #6bc1f3; /* 鼠标悬停行的背景颜色 */
}
.atv {
    padding: 10px; /* 内边距 */
    text-align: center; /* 文本居中 */
    white-space: nowrap; /* 防止换行 */
    background-color: #ddf196;
    display: inline-block;
    gap: 0px;
}
#atv1 {
    background-color: #b3eb9d;
}
#atv2 {
    background-color: #ddf196;
}
#atv3 {
    background-color: #e4c79a;
}
#atv4 {
    background-color: #63BE7B;
}
#atv5 {
    background-color: #F8696B;
}

/* 设置按钮格式 */
button {
    background-color: #D8F1EE; /* 背景颜色 */
    color: #000; /* 文字颜色 */
    margin: 0px;
    padding: 10px 20px; /* 内边距，上下10px，左右20px */
    border: none; /* 去掉边框 */
    border-radius: 10px; /* 圆角边框 */
    cursor: pointer; /* 鼠标指针样式 */
    font-size: 16px; /* 字体大小 */
    transition: background-color 0.3s; /* 背景颜色过渡效果 */
}

/* 活动竞技场输入框格式 */
.divSet {
    font-size: 0px;
}
.eaText {
    text-align: center;
    display: inline-block;
    margin: 0px;
    padding: 5px;
    font-size: 16px;
    border: 0px solid #ccc;
    gap: 0px;
    width: 80px;
    height: 22px;
    background-color: #E4EEC9;
}
.eaRate {
    font-size: 16px;
    max-width: 810px;
}
.eaRate td {
    padding: 5px; /* 内边距 */
    width: 90px;
    height: 22px;
}
.eaRate tr:nth-child(odd) {
    background-color: #d4ebf9; /* 每隔行背景颜色 */
}
.eaRate tr:nth-child(even) {
    background-color: #a8dfff; /* 每隔行背景颜色 */
}
.editable {
    text-align: center;
    display: inline-block;
    margin: 0px;
    padding: 5px;
    font-size: 16px;
    border: 0px solid #ccc;
    cursor: pointer;
    gap: 0px;
    width: 80px;
    background-color: #6bc1f3;
}
.nonedit {
    text-align: center;
    display: inline-block;
    margin: 0px;
    padding: 5px;
    font-size: 16px;
    border: 0px solid #ccc;
    gap: 0px;
    width: 80px;
    background-color: #6bc1f3;
}
input {
    display: inline-block;
    margin: 0px;
    padding: 5px;
    font-size: 16px;
    border: 0px solid #ccc;
    cursor: pointer;
    gap: 0px;
    width: 80px;
    background-color: #6bc1f3;
}

.hidden {
    display: none;
}

/* 设置页 */
.plainText {
    font-size: 16px;
}
#personalId {
    width: 120px;
}
.inputBlank {  
    width: 60px;
    padding: 6px; /* 内边距 */
    border-radius: 5px; /* 圆角边框 */
    border: 1px solid #ccc; /* 边框颜色 */
    background-color: #eefff8;
}
.inputBox:hover {
    border-color: #6bc1f3; /* 悬停时边框颜色 */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 悬停时阴影效果 */
}
.inputBox:focus {
    outline: none; /* 去掉默认聚焦边框 */
    border-color: #6bc1f3; /* 聚焦时边框颜色 */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 聚焦时阴影效果 */
}
.inRow {
    display: flex;
    align-items: center;
    gap: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-top: 6px;
    padding: 0;
}
.switch input {
    opacity: 0; /* 隐藏默认的checkbox */
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* 默认状态颜色 */
    transition: .4s;
    border-radius: 34px; /* 圆角 */
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white; /* 滑动的圆形按钮 */
    transition: .4s;
    border-radius: 50%; /* 圆形 */
}
/* 当checkbox被选中时，改变背景颜色和滑动圆形按钮的位置 */
input:checked + .slider {
    background-color: #8cda8f; /* 选中状态颜色 */
}

input:checked + .slider:before {
    transform: translateX(16px); /* 平移滑动按钮 */
}

select {
    width: 36px; /* 设置下拉框宽度 */
    padding: 6px; /* 内边距 */
    font-size: 16px; /* 字体大小 */
    border-radius: 5px; /* 圆角边框 */
    border: 1px solid #ccc; /* 边框颜色 */
    background-color: #eefff8; /* 背景色 */
    appearance: none; /* 去掉默认下拉箭头 */
    text-align: center; /* 居中对齐文本 */
}
option {
    background-color: #eefff8; /* 背景色 */
}

/* 友谊任务相关设置 */
.flexContent {
    display: flex;
}
.flexContentSon {
    padding: 20px;
    /* border: 1px solid #ccc; */
}
/* 表格格式 */
.questTable tbody tr:first-child {
    background-color: #E4EEC9; /* 第一行背景颜色 */
    font-weight: bold;
}
.questTable tr:nth-child(odd) {
    background-color: #a8dfff; /* 每隔行背景颜色 */
}
.questTable tr:hover {
    background-color: #6bc1f3; /* 鼠标悬停行的背景颜色 */
}

/* 奖杯表格格式 */
#tableTrophy tr:nth-child(4n+1) {
    background-color: #ddf196; 
    font-weight: bold;
}

.sortTable th {
    width: 500px;
    background-color: #E4EEC9;
    font-weight: bold;
    cursor: pointer;
}
.sortTable tr:nth-child(odd) {
    background-color: #a8dfff; /* 每隔行背景颜色 */
}
.sortTable tr:hover {
    background-color: #6bc1f3; /* 鼠标悬停行的背景颜色 */
}

.blank {
    width: 10px;
    height: 0;
    display: inline-block;
}

/* 窄表格 */
.widthSet {
    max-width: 400px;
}